certifi==2021.5.30
charset-normalizer==2.0.3
idna==3.2
kaleido==0.2.1
lxml==4.6.3
multitasking==0.0.9
numpy==1.21.1
pandas==1.3.0
Pillow==8.3.1
plotly==5.1.0
python-dateutil==2.8.2
pytz==2021.1
requests==2.26.0
six==1.16.0
tenacity==8.0.1
urllib3==1.26.6
yfinance==0.1.63
alpaca-trade-api==1.2.3